<!DOCTYPE html>
<html>
  <head>
    <nav>
      <a href="#/">Logo goes here</a>
      <a href="https://github.com/drkdi">Git</a>
      <a href="https://www.linkedin.com/in/daiderek/">LinkedIn</a>
    </nav>

    <title>Hungr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <%= yield %>
    
  </body>
</html>